.notification-center {
  background-color: $surface_container;
  padding: 10px;
  border-radius: $theme_border_radius;

  .notifications-header {
    padding: 0 10px 10px;

    .notifications-label {
      font-size: 1.1rem;
      font-weight: bold;
      color: $primary;
    }

    .clear-all-icon-button,
    .notifications-dnd-button {
      min-width: 32px;
      min-height: 32px;
      padding: 4px;
      border-radius: $theme_border_radius;
    }
  }

  .placeholder {
    label {
      color: $on_surface_variant;
    }
  }

  .notifications-scroll {
    min-width: 400px;
    min-height: 500px;
    padding: 10px 0;
  }
}
