.notification-center {
  background-color: $surface_container_high;
  padding: 10px;
  border-radius: $theme_border_radius;

  .notifications-header {
    padding: 0 0 10px;

    .notifications-label {
      color: $on_surface;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .clear-all-icon-button {
      padding: 4px;
      border-radius: $theme_border_radius;

      .clear-all-icon {

      }
    }
  }

  .notifications-scroll {
    min-width: 400px;
    min-height: 500px;
    padding: 10px;
  }
}
