.settings-window {
  background-color: $surface;

  .titlebar {
    background-color: $surface_container;
    outline: none;
    padding: 5px 10px;
  }

  .sections {
    padding: 10px;
    min-width: 200px;
    background-color: $surface_container;

    .section {
      padding: 10px 16px;
    }

    .category {
      font-size: 1.1rem;
      font-weight: bold;
      color: $on_surface;
      padding: 10px;
    }
  }

  .active-page {
    min-width: 400px;
    min-height: 400px;

    .settings-page-header {
      background-color: $surface_container;
      font-weight: bold;
      min-height: 36px;
      padding: 10px 16px;

      .header-button {
        padding: 0;
        min-width: 36px;
        min-height: 36px;
      }
    }

    .content {
      padding: 0 10px;
    }

    .full-page-scroll {
      min-height: 520px;
      padding-bottom: 10px;
    }
  }

  @import "./network";
  @import "./bluetooth";
  @import "./audio";
  @import "./display";
}
