.bluetooth-toggle-button {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
}

.bluetooth-settings {
  .device-item {
    padding: 10px;

    .icon {
      margin-right: 10px;
      padding: 4px 0;
    }

    .label {
      font-weight: bold;
      color: $on_surface;
      margin-right: 10px;
    }

    .paired,
    .trusted,
    .percentage {
      margin-top: 4px;
      font-size: 0.9rem;
      color: $on_surface_variant;
    }
  }
}
