.display-settings {
  .display {
    padding: 10px;

    .icon {
      margin-right: 10px;
      padding: 4px 0;
    }

    .title {
      font-weight: bold;
      color: $on_surface;
      margin-right: 10px;
    }

    .more-actions {
      margin-top: 16px;
    }
  }
}
