[submodule "zsh/zsh.d/themes/powerlevel10k"]
	path = zsh/zsh.d/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/zsh.d/plugins/cdc"]
	path = zsh/zsh.d/plugins/cdc
	url = git@github.com:evanthegrayt/cdc.git
[submodule "zsh/zsh.d/plugins/zsh-ing"]
	path = zsh/zsh.d/plugins/zsh-ing
	url = git@github.com:rummik/zsh-ing.git
[submodule "zsh/zsh.d/plugins/zsh-tab-title"]
	path = zsh/zsh.d/plugins/zsh-tab-title
	url = git@github.com:trystan2k/zsh-tab-title.git
[submodule "zsh/zsh.d/plugins/forgit"]
	path = zsh/zsh.d/plugins/forgit
	url = git@github.com:wfxr/forgit.git
[submodule "config/awesome/widgets/awesome-switcher"]
	path = config/awesome/widgets/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
[submodule "zsh/zsh.d/plugins/autosrc"]
	path = zsh/zsh.d/plugins/autosrc
	url = git@github.com:seanyeh/autosrc.git
[submodule "config/awesome/deps/tweening"]
	path = config/awesome/deps/tweening
	url = git@github.com:luapower/tweening.git
