[submodule "bling"]
	path = bling
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome-AnimationFramework"]
	path = awesome-AnimationFramework
	url = https://github.com/Aire-One/awesome-AnimationFramework
[submodule "hudkit"]
	path = hudkit
	url = https://github.com/anko/hudkit.git
