[submodule "bling"]
	path = external/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome-AnimationFramework"]
	path = external/awesome-AnimationFramework
	url = https://github.com/Aire-One/awesome-AnimationFramework
[submodule "hudkit"]
	path = external/hudkit
	url = https://github.com/anko/hudkit.git
[submodule "lua-color"]
	path = external/lua-color
	url = git@github.com:Kasper24/lua-color.git
[submodule "external/filesystem"]
	path = external/filesystem
	url = https://github.com/Kasper24/lgi-async-extra
[submodule "external/tween-lua"]
	path = external/tween-lua
	url = git@github.com:kikito/tween.lua.git
[submodule "external/dbus-proxy"]
	path = external/dbus-proxy
	url = https://github.com/Kasper24/lua-dbus_proxy
