.panel-button-container {
  background: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.panel-button-container .panel-button {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 30px;
  transition: background-color 0.3s ease-out;
}
.panel-button-container:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
}
.panel-button-container:hover .panel-button {
  background-color: rgba(53, 53, 53, 0.8);
}

window.bar {
  min-width: 48px;
  background-color: #0f0f0f;
  color: #cccccc;
  font-family: "Inter";
  font-size: 16px;
}
window.bar .workspaces .workspace {
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  margin: 5px 0;
  transition: min-height 0.3s ease, background-color 0.3s ease-out;
  background-color: #909090;
}
window.bar .workspaces .workspace.occupied {
  background-color: #fff;
}
window.bar .workspaces .workspace.focused {
  min-height: 24px;
  background-color: #fff;
}
window.bar .clients .client-container {
  padding: 4px;
}
window.bar .clients .client-container .client {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
  background-color: #0f0f0f;
}
window.bar .clients .client-container .client .client-indicator {
  background-color: #909090;
  min-width: 4px;
  min-height: 4px;
  border-radius: 100px;
  margin: 2px -4px 2px 4px;
  transition: min-height 0.3s ease, background-color 0.3s ease-out;
}
window.bar .clients .client-container .client .client-indicator.focused {
  min-height: 12px;
  background-color: #fff;
}
window.bar .clients .client-container .client .client-icon {
  margin: 10px;
  margin-left: 6px;
}
window.bar .clients .client-container .client.focused {
  background-color: rgba(53, 53, 53, 0.8);
}
window.bar .clock {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Inter";
}
window.bar .clock-hour {
  font-weight: bold;
  font-size: 18px;
}
window.bar .clock-minute {
  font-size: 19px;
}
window.bar .menu-toggle-button {
  padding: 0;
  min-width: 48px;
  min-height: 36px;
}
window.bar .menu-toggle-button .menu-toggle-button-icon {
  margin: 0 15px;
  border: 2px solid #909090;
  min-width: 14px;
  min-height: 14px;
  border-radius: 100px;
}

.profile .username {
  font-weight: bold;
}

.bar-bluetooth {
  min-width: 185px;
}
.bar-bluetooth .title {
  font-size: 14px;
}

.bar-network {
  min-width: 185px;
}
.bar-network .title {
  font-size: 14px;
}

.bar-volume-indicator {
  border-radius: 100px;
  min-width: 36px;
  min-height: 36px;
  padding: 8px;
}

.bar-volume-slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 100px;
  background-color: #353535;
  min-height: 48px;
}
.bar-volume-slider trough highlight,
.bar-volume-slider trough progress {
  background-image: none;
  background-color: #fff;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.bar-volume-slider trough slider {
  border-radius: 100px;
  min-height: 42px;
  min-width: 42px;
  background: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.control-center {
  background-color: transparent;
}
.control-center .popup-background {
  background-color: transparent;
}
.control-center .popup-window {
  margin-left: 70px;
  margin-bottom: 16px;
}
.control-center .popup-content {
  padding: 0;
}

.menu .card {
  background-color: rgba(19, 19, 19, 0.8);
  border-radius: 8px;
  padding: 10px;
  min-width: 400px;
}
.menu .card .panel-button {
  padding: 16px;
}
.menu .menu-bar {
  background-color: #0f0f0f;
  min-height: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.info-panel-window .popup-background {
  background-color: transparent;
}
.info-panel-window .popup-window {
  margin-left: 70px;
  margin-bottom: 16px;
}
.info-panel-window .popup-content {
  padding: 0;
}
.info-panel-window .info-panel-container {
  background-color: #0f0f0f;
  padding: 10px;
  border-radius: 8px;
}
.info-panel-window .info-panel-container .notification-center {
  background-color: rgba(26, 26, 26, 0.8);
  padding: 10px;
  border-radius: 8px;
}
.info-panel-window .info-panel-container .notification-center .notifications-header {
  padding: 10px 0;
}
.info-panel-window .info-panel-container .notification-center .notifications-header .notifications-label {
  font-size: 1.2rem;
  font-weight: bold;
}
.info-panel-window .info-panel-container .notification-center .notifications-header .clear-all-icon-button {
  padding: 0;
  border-radius: 100px;
}
.info-panel-window .info-panel-container .notification-center .notifications-scroll {
  min-width: 400px;
  min-height: 500px;
  padding: 10px;
}

window#notifications {
  all: unset;
}
window#notifications box.notifications {
  padding: 10px;
}

* {
  font-family: "Inter";
  font-size: 16px;
}

.applauncher .popup-window-center {
  min-width: 500px;
  min-height: 500px;
}

.arrow-button {
  padding: 0;
}

.popup {
  background: none;
}
.popup-background {
  background-color: rgba(0, 0, 0, 0.2);
}
.popup-window {
  border-radius: 8px;
}
.popup-title {
  background-color: #181818;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  min-width: 400px;
}
.popup-content {
  padding: 20px;
  background-color: #0f0f0f;
  border-radius: 0 0 8px 8px;
}
.popup-window.without-title .popup-content {
  border-radius: 8px;
}

.notification {
  min-width: 350px;
  border-radius: 8px;
  margin: 8px;
  background-color: #0f0f0f;
}
.notification .notification-header {
  padding: 5px 10px;
  background-color: rgba(19, 19, 19, 0.8);
}
.notification .notification-icon {
  min-width: 36px;
  min-height: 36px;
  margin-right: 1em;
}
.notification .notification-icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: #cccccc;
}
.notification .notification-icon box {
  min-width: 36px;
  min-height: 36px;
  border-radius: 7px;
}
.notification .notification-title {
  color: #cccccc;
  font-family: "Inter";
  font-size: 1em;
  font-weight: bold;
}
.notification .notification-body {
  padding: 20px 10px 20px;
  color: #888888;
  font-family: "Inter";
  font-size: 0.9rem;
}
.notification .notification-actions {
  padding: 0 10px 10px;
}
.notification .notification-actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}
.notification .notification-actions .action-button:first-child {
  margin-left: 0;
}
.notification .notification-actions .action-button:last-child {
  margin-right: 0;
}
.notification .header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.notification .footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
