.arrow-button {
  padding: 0;
}

.rounded-button {
  border-radius: 1000px;
}

.toggle-button {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #2d282e;
  border-radius: 12px;
  transition: background-color 0.3s ease-out;
}
.toggle-button.active {
  background-color: #f4daff;
  color: #412356;
}
.toggle-button:hover {
  background-color: #2d282e;
}
.toggle-button:hover.active {
  background-color: #e0b8f6;
}

.popup {
  background: none;
}
.popup-background {
  background-color: rgba(0, 0, 0, 0.2);
}
.popup-window {
  border-radius: 8px;
}
.popup-title {
  background-color: #2d282e;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  min-width: 400px;
}
.popup-content {
  padding: 20px;
  background-color: #161217;
  border-radius: 0 0 8px 8px;
}
.popup-window.without-title .popup-content {
  border-radius: 8px;
}

.notification {
  background-color: #161217;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 10px 10px;
}
.notification .content .icon {
  border-radius: 10px;
  padding: 10px 10px 10px 0;
  min-width: 32px;
  min-height: 32px;
}
.notification .content .icon .img {
  min-width: 32px;
  min-height: 32px;
}
.notification .content .title {
  margin-right: 10px;
  color: #e9e0e8;
  font-size: 1.1rem;
  font-weight: bold;
}
.notification .content .time {
  color: #cdc3ce;
  font-size: 0.9rem;
  margin-right: 10px;
}
.notification .content .description {
  font-size: 0.95rem;
  color: #e9e0e8;
}
.notification .close-button {
  padding: 0;
  min-width: 32px;
  min-height: 32px;
}

.panel-button-container {
  background: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.panel-button-container .panel-button {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #221e24;
  border-radius: 12px;
  transition: background-color 0.3s ease-out;
}
.panel-button-container:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
}
.panel-button-container:hover .panel-button {
  background-color: #2d282e;
}

window.bar {
  min-width: 48px;
  background-color: #161217;
  color: #e9e0e8;
  font-family: "Inter";
  font-size: 16px;
}
window.bar .workspaces-container .panel-button-container .panel-button {
  background-color: #221e24;
}
window.bar .workspaces-container .panel-button-container:hover .panel-button {
  background-color: #2d282e;
}
window.bar .workspaces-container .workspaces .workspace {
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  margin: 5px 0;
  transition: min-height 0.3s ease, background-color 0.3s ease-out;
  background-color: #3c383e;
}
window.bar .workspaces-container .workspaces .workspace.occupied {
  background-color: #cdc3ce;
}
window.bar .workspaces-container .workspaces .workspace.focused {
  min-height: 24px;
  background-color: #e9e0e8;
}
window.bar .clients .client-container {
  padding: 4px;
}
window.bar .clients .client-container .client {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
  background-color: #221e24;
}
window.bar .clients .client-container .client .client-indicator {
  background-color: #e9e0e8;
  min-width: 4px;
  min-height: 4px;
  border-radius: 100px;
  margin: 2px -4px 2px 4px;
  transition: min-height 0.3s ease, background-color 0.3s ease-out;
}
window.bar .clients .client-container .client .client-indicator.focused {
  min-height: 12px;
  background-color: #4c2527;
}
window.bar .clients .client-container .client .client-icon {
  margin: 10px;
  margin-left: 6px;
}
window.bar .clients .client-container .client.focused {
  background-color: #e0b8f6;
}
window.bar .clients .client-container .client.focused .client-indicator {
  background-color: #412356;
}
window.bar .clock {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Inter";
  color: #e9e0e8;
}
window.bar .clock-hour {
  font-weight: bold;
  font-size: 18px;
}
window.bar .clock-minute {
  font-size: 19px;
}
window.bar .menu-toggle-button {
  padding: 0;
  min-width: 48px;
  min-height: 36px;
}
window.bar .menu-toggle-button .menu-toggle-button-icon {
  margin: 0 15px;
  border: 2px solid #e9e0e8;
  min-width: 14px;
  min-height: 14px;
  border-radius: 100px;
}

.profile .username {
  font-weight: bold;
  color: #e9e0e8;
}
.profile .settings-button {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
}

.bar-bluetooth {
  min-width: 185px;
}
.bar-bluetooth .title {
  font-size: 14px;
  color: #e9e0e8;
}

.bar-battery {
  min-width: 185px;
}
.bar-battery .title {
  font-size: 14px;
  color: #e9e0e8;
}

.bar-network {
  min-width: 185px;
}
.bar-network .title {
  font-size: 14px;
  color: #e9e0e8;
}

.bar-volume-indicator {
  border-radius: 100px;
  min-width: 36px;
  min-height: 36px;
  padding: 8px;
}

.bar-volume-slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 100px;
  background-color: #383339;
  min-height: 48px;
}
.bar-volume-slider trough highlight,
.bar-volume-slider trough progress {
  background-image: none;
  background-color: #e0b8f6;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.bar-volume-slider trough slider {
  border-radius: 100px;
  min-height: 42px;
  min-width: 42px;
  background: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.bar-volume-settings .volume-settings {
  padding: 8px;
  min-width: 36px;
  min-height: 36px;
}

.theme-mode-toggle {
  min-width: 185px;
  background-color: #2d282e;
}
.theme-mode-toggle .title {
  font-size: 14px;
  color: #e9e0e8;
}

.control-center {
  background-color: transparent;
}
.control-center .popup-background {
  background-color: transparent;
}
.control-center .popup-window {
  margin-left: 70px;
  margin-bottom: 16px;
}
.control-center .popup-content {
  padding: 0;
}

.menu .card {
  background-color: #221e24;
  border-radius: 8px;
  padding: 10px;
  min-width: 400px;
}
.menu .card .panel-button {
  padding: 16px;
}
.menu .menu-bar {
  background-color: #161217;
  min-height: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.info-panel-window .popup-background {
  background-color: transparent;
}
.info-panel-window .popup-window {
  margin-left: 70px;
  margin-bottom: 16px;
}
.info-panel-window .popup-content {
  padding: 0;
}
.info-panel-window .info-panel-container {
  background-color: #161217;
  padding: 10px;
  border-radius: 8px;
}
.info-panel-window .info-panel-container .notification-center {
  background-color: #2d282e;
  padding: 10px;
  border-radius: 8px;
}
.info-panel-window .info-panel-container .notification-center .notifications-header {
  padding: 0 0 10px;
}
.info-panel-window .info-panel-container .notification-center .notifications-header .notifications-label {
  color: #e9e0e8;
  font-size: 1.2rem;
  font-weight: bold;
}
.info-panel-window .info-panel-container .notification-center .notifications-header .clear-all-icon-button {
  padding: 4px;
  border-radius: 8px;
}
.info-panel-window .info-panel-container .notification-center .placeholder label {
  color: #cdc3ce;
}
.info-panel-window .info-panel-container .notification-center .notifications-scroll {
  min-width: 400px;
  min-height: 500px;
  padding: 10px;
}

.launcher-window {
  background-color: transparent;
}
.launcher-window .popup-background {
  background-color: transparent;
}
.launcher-window .popup-window {
  margin-left: 70px;
  margin-top: 16px;
}

.launcher .launcher-search {
  background-color: #221e24;
  padding: 10px 16px;
  color: #e9e0e8;
}
.launcher .launcher-results {
  background-color: #221e24;
  padding: 10px;
  border-radius: 8px;
}
.launcher .launcher-calculation {
  padding: 10px 0;
}
.launcher .launcher-list {
  min-width: 400px;
  min-height: 400px;
  color: #e9e0e8;
}
.launcher .launcher-app-item .title {
  color: #e9e0e8;
}

window#notifications {
  all: unset;
}
window#notifications box.notifications {
  padding: 10px;
}

.power-menu .system-button {
  padding: 10px;
}

.settings-window {
  background-color: #161217;
}
.settings-window .titlebar {
  background-color: #221e24;
  outline: none;
  padding: 5px 10px;
}
.settings-window .sections {
  padding: 10px;
  min-width: 200px;
  background-color: #221e24;
}
.settings-window .sections .section {
  padding: 10px 16px;
}
.settings-window .sections .category {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e9e0e8;
  padding: 10px;
}
.settings-window .active-page {
  min-width: 400px;
  min-height: 400px;
}
.settings-window .active-page .settings-page-header {
  background-color: #221e24;
  font-weight: bold;
  min-height: 36px;
  padding: 10px 16px;
}
.settings-window .active-page .content {
  padding: 0 10px;
}
.settings-window .active-page .full-page-scroll {
  min-height: 520px;
  padding-bottom: 10px;
}
.settings-window .network-scan-button {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
}
.settings-window .network-settings .wifi-item {
  padding: 10px;
}
.settings-window .network-settings .wifi-item .icon {
  margin-right: 10px;
}
.settings-window .network-settings .wifi-item .label {
  font-weight: bold;
  color: #e9e0e8;
  margin-right: 10px;
}
.settings-window .network-settings .connect-button {
  font-size: 0.9rem;
  padding: 5px 10px;
}
.settings-window .network-settings .connect-button label {
  color: #e9e0e8;
}
.settings-window .network-settings .connected {
  font-size: 0.9rem;
  padding: 0 10px;
  color: #cdc3ce;
}
.settings-window .bluetooth-toggle-button {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
}
.settings-window .bluetooth-settings .device-item {
  padding: 10px;
}
.settings-window .bluetooth-settings .device-item .icon {
  margin-right: 10px;
  padding: 4px 0;
}
.settings-window .bluetooth-settings .device-item .label {
  font-weight: bold;
  color: #e9e0e8;
  margin-right: 10px;
}
.settings-window .bluetooth-settings .device-item .paired,
.settings-window .bluetooth-settings .device-item .trusted,
.settings-window .bluetooth-settings .device-item .percentage {
  margin-top: 4px;
  font-size: 0.9rem;
  color: #cdc3ce;
}
.settings-window .audio-settings .speaker {
  padding: 10px 20px 10px 10px;
}
.settings-window .audio-settings .icon {
  min-width: 24px;
  min-height: 24px;
}
.settings-window .audio-settings .details .title {
  font-weight: bold;
  color: #e9e0e8;
}
.settings-window .audio-settings .details .descriptor {
  font-size: 0.9rem;
  color: #cdc3ce;
}
.settings-window .audio-settings .default-button {
  padding: 0;
  min-width: 32px;
  min-height: 32px;
}
.settings-window .audio-settings .default-button label {
  font-size: 0.9rem;
}
.settings-window .audio-settings scale {
  all: unset;
}
.settings-window .audio-settings scale * {
  all: unset;
}
.settings-window .audio-settings scale trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 100px;
  background-color: #383339;
  min-height: 16px;
}
.settings-window .audio-settings scale trough highlight,
.settings-window .audio-settings scale trough progress {
  background-image: none;
  background-color: #e0b8f6;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.settings-window .audio-settings scale trough slider {
  border-radius: 100px;
  min-height: 16px;
  min-width: 16px;
  background: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

* {
  font-family: "Inter";
  font-size: 16px;
}

.applauncher .popup-window-center {
  min-width: 500px;
  min-height: 500px;
}

/*# sourceMappingURL=style.css.map */
