.notification {
  background-color: $surface;
  border-radius: $theme_border_radius;
  padding: 10px;
  margin: 5px 10px 10px;

  .content {
    .icon {
      border-radius: 10px;
      padding: 10px 10px 10px 0;
      min-width: 32px;
      min-height: 32px;

      .img {
        min-width: 32px;
        min-height: 32px;
      }
    }

    .title {
      margin-right: 10px;
      color: $on_surface;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .time {
      color: $on_surface_variant;
      font-size: 0.9rem;
      margin-right: 10px;
    }

    .description {
      font-size: 0.95rem;
      color: $on_surface;
    }
  }

  .close-button {
    padding: 0;
    min-width: 32px;
    min-height: 32px;
  }
}
