.info-panel-window {
  .popup-background {
    background-color: transparent;
  }

  .popup-window {
    margin-left: 70px;
    margin-bottom: 16px;
  }

  .popup-content {
    padding:0;
  }

  .info-panel-container {
    background-color: $surface_container;
    padding: 10px;
    border-radius: $theme_border_radius;

    @import './info/notification-center';
  }
}
