.launcher-window {
  background-color: transparent;

  .popup-background {
    background-color: transparent;
  }

  .popup-window {
    margin-left: 70px;
    margin-top: 16px;
  }
}

.launcher {
  .launcher-search {
    background-color: $surface_container;
    padding: 10px 16px;
    color: $on_surface;
  }

  .launcher-results {
    background-color: $surface_container;
    padding: 10px;
    border-radius: $theme_border_radius;
  }

  .launcher-calculation {
    padding: 10px 0;
  }

  .pinned-apps {
    min-width: 665px;
    min-height: 400px;
    color: $on_surface;
  }

  .launcher-list {
    min-width: 680px;
    min-height: 600px;
    color: $on_surface;
  }

  .launcher-app-item {
    .title {
      color: $on_surface;
    }
  }

  .launcher-pinned-app-item-container {
    min-width: 100px;
    min-height: 60px;
    padding: 10px;
    .title {
      font-size: 0.8rem;
    }
  }
}
