@import "./menu/profile";
@import "./menu/bluetooth";
@import "./menu/battery";
@import "./menu/network";
@import "./menu/volume";
@import "./menu/theme-toggle";

.control-center {
  background-color: transparent;

  .popup-background {
    background-color: transparent;
  }

  .popup-window {
    margin-left: 70px;
    margin-bottom: 16px;
  }

  .popup-content {
    padding: 0;
  }
}

.menu {
  .card {
    background-color: $surface_container;
    border-radius: $theme_border_radius;
    padding: 10px;
    min-width: 400px;

    .panel-button {
      padding: 16px;
    }
  }

  .menu-bar {
    background-color: $surface;
    min-height: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: $theme_border_radius;
  }
}
