window#notifications {
  all: unset;

  box.notifications {
    padding: 10px;
  }

  .notification {
    min-width: 350px;
    border-radius: $theme_border_radius;
    margin: 8px;
    background-color: $theme_bg_color;
  }

  .notification-header {
    padding: 5px 10px;
    background-color: $theme_card_bg_color;
  }

  .notification-icon {
    min-width: 36px;
    min-height: 36px;
    margin-right: 1em;

    image {
      font-size: 58px;
      /* to center the icon */
      margin: 5px;
      color: $theme_fg_color;
    }

    box {
      min-width: 36px;
      min-height: 36px;
      border-radius: 7px;
    }
  }

  .notification-title {
    color: $theme_fg_color;
    font-family: $font_family;
    font-size: 1.1em;
    font-weight: bold;
  }

  .notification-body {
    padding: 20px 10px 20px;
    color: $theme_unfocused_fg_color;
    font-family: $font_family;
  }

  .notification-actions {
    padding: 0 10px 10px;

    .action-button {
      margin: 0 .4em;
      margin-top: .8em;
    }

    .action-button:first-child {
      margin-left: 0;
    }

    .action-button:last-child {
      margin-right: 0;
    }
  }

  .header {
    border-top-left-radius: $theme_border_radius;
    border-top-right-radius: $theme_border_radius;
  }

  .footer {
    border-bottom-left-radius: $theme_border_radius;
    border-bottom-right-radius: $theme_border_radius;
  }
}
