@import './variables';
@import './panel-button';
@import './bar';
@import './menu';
@import './info-panel';
@import './notification';

* {
  font-family: $font_family;
  font-size: $font_size;
}

.applauncher {
  .popup-window-center {
    min-width: 500px;
    min-height: 500px;
  }
}

.arrow-button {
  padding: 0;
}

.popup {
  background: none;

  &-background {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &-window {
    border-radius: $theme_border_radius;
  }

  &-title {
    background-color: #181818;
    padding: 10px 0;
    font-weight: bold;
    border-radius: $theme_border_radius $theme_border_radius 0 0;
    min-width: 400px;
  }

  &-content {
    padding: 20px;
    background-color: $theme_bg_color;
    border-radius: 0 0 $theme_border_radius $theme_border_radius;
  }

  &-window.without-title &-content {
    border-radius: $theme_border_radius;
  }
}
