@import "./variables";
@import "./_components/button";
@import "./_components/popup";
@import "./_components/progress";
@import "./_components/notification";
@import "./panel-button";
@import "./bar";
@import "./menu";
@import "./info";
@import "./launcher";
@import "./notification";
@import "./windows/powermenu/all";
@import "./windows/osd/all";
@import "./windows/settings/all";
@import "./windows/shortcut-helper/all";

* {
  font-family: $font_family;
  font-size: $font_size;
}

.applauncher {
  .popup-window-center {
    min-width: 500px;
    min-height: 500px;
  }
}

.tabs {
  padding-bottom: 16px;
  padding-left: 8px;

  .tab {
    padding: 8px 12px;

    label {
      font-size: 0.9rem;
      color: $on_surface;
    }

    &.active {
      label {
        color: $on_primary;
      }
    }
  }
}
