.clients {
  .client-container {
    padding: 4px;

    .client {
      padding: 0;
      min-width: 36px;
      min-height: 36px;
      background-color: $surface_container_high;

      .client-indicator {
        background-color: $on_surface;
        min-width: 4px;
        min-height: 4px;
        border-radius: 100px;
        margin: 2px -4px 2px 4px;
        transition:
          min-height 0.3s ease,
          background-color 0.3s ease-out;

        &.focused {
          min-height: 12px;
          background-color: $on_tertiary;
        }
      }

      .client-icon {
        margin: 10px;
        margin-left: 6px;
      }

      &.focused {
        background-color: $primary;

        .client-indicator {
          background-color: $on_primary;
        }
      }
    }
  }
}
