.workspaces-container {
  .panel-button-container {
    .panel-button {
      background-color: $surface_container_high;
    }

    &:hover {
      .panel-button {
        background-color: $surface_container_highest;
      }
    }
  }

  .workspaces {
    .workspace {
      min-width: 10px;
      min-height: 10px;
      border-radius: 100px;
      margin: 5px 0;
      transition:
        min-height 0.3s ease,
        background-color 0.3s ease-out;
      background-color: $surface_bright;

      &.occupied {
        background-color: $on_surface_variant;
      }

      &.focused {
        min-height: 24px;
        background-color: $on_surface;
      }
    }
  }
}
